/* base.css */
body {
    font-family: var(--fonte-principal);
    color: #333333;
}

main{
    padding: 2.5rem 0 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}

@media (max-width: 1280px){
    main{
        padding: 0.625rem;
    }
}

.btn{
    font-size: 1.1rem;
    width: 11rem;
    height: 3rem;
    border-radius: 1.5625rem;
    color: #ffffff;
    font-weight: 400; 
    padding: 0.625rem 1.25rem;
    transition: backgound-color 0.3s, border 0.3s;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 23px;
} 

.btn-filled{
    background-color: #ffffff;
    color: #6528D3;
}

.btn:hover{
    background-color: #6528D3;
    color: #ffffff;
    border: #6528D3;
}