/* footer.css */
/* ========== Footer E-commerce (base editável) ========== */
/* Paleta/escala – ajuste à sua brand */
.site-footer {
  background-color: #333333; /* Cor de fundo do rodapé */
  color: #ffffff; /* Cor do texto do rodapé */
}

.footer-content {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 40px;
  justify-content: space-between;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.footer-nav ul{
  display: flex;
  gap: 20px;
}

.footer-nav ul ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav strong {
  color: #EDEDED;
  display: block;
  font-size: 20px;
  margin-bottom: 16px;
}

.footer-nav li a{
  color: #ffffff
}

.footer-item {
  margin: 20px;
}

.footer-item li a:hover {
  text-decoration: underline;
}

.newsletter-form{
  display: flex;
  flex-direction: column;
}

.newsletter-form input{
  color: #aaaaaa;
  padding: 12px 20px;
  border-radius: 30px;
  width: 344px;
}

.footer-social span{
  margin-bottom: 16px;
  display: block;
}
.footer-social ul{
  display: flex;
  gap: 20px;
}

.footer-social li a:hover img{
  opacity: 0.7;
}

.footer-copy{
  font-size: 1.25rem;
  text-align: center;
  padding: 1.25rem 0;
}

@media (max-width: 1000px){
  .footer-content {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .footer-nav ul {
    gap: 2rem;
    flex-direction: column;
  }

  .footer-social ul{
    gap: 1rem;
  }

  .footer-copy{
    font-size: 1rem;
    padding: 1.5rem 0 1.5rem;
  }
}