/* product-grid.css */
.card{
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.top1{
    background-image: url(../../images/products/modelo-h.jpg);
    grid-area: top1;
}

.top2{
    background-image: url(../../images/products/roxo-verde-grid.jpg);
    grid-area: top2;
}

.midL{
    grid-area: midL;
    background-image: url(../../images/products/modelo.jpg);
}

.midR{
    background-image: url(../../images/products/colorido-grid.jpg);
    grid-area: midR;
}

.bottomL{
    grid-area: bottomL;
    background-image: url(../../images/products/branco-azul-grid.jpg);
}

.bottomR{
    background-image: url(../../images/products/cinza-grid.jpg);
    grid-area: bottomR;
}

.grid-section{
    display: grid;
    background-color: bisque;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL midL bottomR bottomR";
    gap: 30px;
}

.top1-content{
    position: absolute;
    top: 50%;;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title{
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-subtitle{
    color: #EDEDED;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group{
    display: flex;
    gap: 10px;
}
